# Retail Transaction Dataset

## 1. Overview
This dataset contains **100,000** retail transactions, capturing various aspects of customer purchases, including product details, pricing, discounts, and store locations.

## Column Descriptions

| Column Name          | Description |
|----------------------|-------------|
| **CustomerID**       | Unique identifier for each customer. |
| **ProductID**        | The product code (A, B, C, or D). |
| **Quantity**         | Number of units purchased in a transaction. |
| **Price**            | Price per unit of the product. |
| **TransactionDate**  | Date and time of the transaction (MM/DD/YYYY HH:MM format). |
| **PaymentMethod**    | Mode of payment (e.g., Cash, Credit Card, Debit Card, PayPal). |
| **StoreLocation**    | Physical store location where the purchase occurred. |
| **ProductCategory**  | Category of the product (e.g., Clothing, Electronics, Books, Home Decor). |
| **DiscountApplied(%)** | Discount percentage applied to the transaction. |
| **TotalAmount**      | Final transaction amount after discounts. |

## Next Steps
1. **Data Cleaning & Preprocessing**: Handle missing values, duplicates, and inconsistent formatting.
2. **Exploratory Data Analysis (EDA)**:
   - Analyze **sales trends over time**.
   - Examine **customer spending habits**.
   - Identify **best-selling product categories**.
3. **Visualization**:
   - Sales distribution by **time, category, and location**.
   - **Discount impact** on sales.
   - Customer segmentation for **insights into shopping behavior**.

In [2]:
%pip install pandas numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\kruti\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\kruti\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kruti\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kruti\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kruti\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\kruti\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

In [2]:
transaction_df = pd.read_csv('Retail_Transaction_Dataset.csv')
transaction_df.head()

,CustomerID,ProductID,Quantity,Price,TransactionDate,PaymentMethod,StoreLocation,ProductCategory,DiscountApplied(%),TotalAmount
0,109318,C,7,80.079844,12/26/2023 12:32,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764
1,993229,C,4,75.195229,8/5/2023 0:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546
2,579675,A,8,31.528816,3/11/2024 18:51,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651
3,799826,D,5,98.880218,10/27/2023 22:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769
4,121413,A,7,93.188512,12/22/2023 11:38,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484

In [3]:
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CustomerID          100000 non-null  int64
 1   ProductID           100000 non-null  object
 2   Quantity            100000 non-null  int64
 3   Price               100000 non-null  float64
 4   TransactionDate     100000 non-null  object
 5   PaymentMethod       100000 non-null  object
 6   StoreLocation       100000 non-null  object
 7   ProductCategory     100000 non-null  object
 8   DiscountApplied(%)  100000 non-null  float64
 9   TotalAmount         100000 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 7.6+ MB

In [4]:
# Check for missing values

transaction_df.isnull().sum()

CustomerID            0
ProductID             0
Quantity              0
Price                 0
TransactionDate       0
PaymentMethod         0
StoreLocation         0
ProductCategory       0
DiscountApplied(%)    0
TotalAmount           0
dtype: int64

In [5]:
transaction_df.nunique()

CustomerID             95215
ProductID                  4
Quantity                   9
Price                 100000
TransactionDate        91025
PaymentMethod              4
StoreLocation         100000
ProductCategory            4
DiscountApplied(%)    100000
TotalAmount            99998
dtype: int64

## 2. Unique Categories for Filtering and Aggregation

We have **4 unique values** for the following fields:  
- **`ProductID`**  
- **`PaymentMethod`**  
- **`ProductCategory`**

✅ We can use these fields to create **aggregated charts** and insights.  
✅ These categories can serve as **filter options** in our web application to display reports more effectively.

In [6]:
# Taking a look at what are the unique values in these fields
category_counts = {
    "ProductID": transaction_df["ProductID"].nunique(),
    "PaymentMethod": transaction_df["PaymentMethod"].nunique(),
    "ProductCategory": transaction_df["ProductCategory"].nunique(),
}

for field in category_counts:
    print(f"{field}: {transaction_df[field].unique()}")

ProductID: ['C' 'A' 'D' 'B']
PaymentMethod: ['Cash' 'PayPal' 'Debit Card' 'Credit Card']
ProductCategory: ['Books' 'Home Decor' 'Electronics' 'Clothing']

In [7]:
# Making sure our collumn names are consistent and easy to use
# Since we will be importing them to a SQL database and use queries
transaction_df.columns = transaction_df.columns.str.lower()
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customerid          100000 non-null  int64
 1   productid           100000 non-null  object
 2   quantity            100000 non-null  int64
 3   price               100000 non-null  float64
 4   transactiondate     100000 non-null  object
 5   paymentmethod       100000 non-null  object
 6   storelocation       100000 non-null  object
 7   productcategory     100000 non-null  object
 8   discountapplied(%)  100000 non-null  float64
 9   totalamount         100000 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 7.6+ MB

## 3. Our data is mostly clean and doesn't require any further cleaning as of now

### ☑️ We can move on to Feature Engineering and Transformation

In [8]:
# Transforming the object type transactiondate field to datetime type
transaction_df['transactiondate'] = pd.to_datetime(transaction_df['transactiondate'])
transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   customerid          100000 non-null  int64
 1   productid           100000 non-null  object
 2   quantity            100000 non-null  int64
 3   price               100000 non-null  float64
 4   transactiondate     100000 non-null  datetime64[ns]
 5   paymentmethod       100000 non-null  object
 6   storelocation       100000 non-null  object
 7   productcategory     100000 non-null  object
 8   discountapplied(%)  100000 non-null  float64
 9   totalamount         100000 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 7.6+ MB

In [9]:
# Adding fields to our dataset namely year, month, day, and day of week
# This will aid us in further detaild analysis and report generation
transaction_df['year'] = transaction_df['transactiondate'].dt.year
transaction_df['month'] = transaction_df['transactiondate'].dt.month
transaction_df['day'] = transaction_df['transactiondate'].dt.day
transaction_df['day_of_week'] = transaction_df['transactiondate'].dt.day_name()

In [10]:
transaction_df.head()

,customerid,productid,quantity,price,transactiondate,paymentmethod,storelocation,productcategory,discountapplied(%),totalamount,year,month,day,day_of_week
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",Books,18.677100,455.862764,2023,12,26,Tuesday
1,993229,C,4,75.195229,2023-08-05 00:00:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",Home Decor,14.121365,258.306546,2023,8,5,Saturday
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",Books,15.943701,212.015651,2024,3,11,Monday
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",Books,6.686337,461.343769,2023,10,27,Friday
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",Electronics,4.030096,626.030484,2023,12,22,Friday

In [11]:
transaction_df.nunique()

customerid             95215
productid                  4
quantity                   9
price                 100000
transactiondate        91025
paymentmethod              4
storelocation         100000
productcategory            4
discountapplied(%)    100000
totalamount            99998
year                       2
month                     12
day                       31
day_of_week                7
dtype: int64

### ☑️ We will convert the text data to all lowercase to help minimize issues in querying and filtering

In [12]:
transaction_df['productcategory'] = transaction_df['productcategory'].str.lower()

In [13]:
transaction_df.to_csv("cleaned_&_transformed_transactions.csv", index=False)

## 4. Analysis & Visualization Phase

Now that the data has been cleaned and transformed, we move to the **analysis and visualization** phase.  
In this section, we will explore trends, patterns, and insights through various **charts, graphs, and correlation matrices**.  

The analysis will be structured into three key sections:  
1. **Product-Centric Analysis** – Understanding product performance, pricing, and discounts.  
2. **Customer-Centric Analysis** – Identifying spending behavior, top customers, and payment preferences.  
3. **Date-Centric Analysis** – Examining sales trends over time and identifying peak transaction periods.

### ☑️ Let's start with the **Product-Centric Analysis**

In [14]:
# Load the cleaned dataset
cleaned_df = pd.read_csv("cleaned_&_transformed_transactions.csv")

In [15]:
cleaned_df.head()

,customerid,productid,quantity,price,transactiondate,paymentmethod,storelocation,productcategory,discountapplied(%),totalamount,year,month,day,day_of_week
0,109318,C,7,80.079844,2023-12-26 12:32:00,Cash,"176 Andrew Cliffs\nBaileyfort, HI 93354",books,18.677100,455.862764,2023,12,26,Tuesday
1,993229,C,4,75.195229,2023-08-05 00:00:00,Cash,"11635 William Well Suite 809\nEast Kara, MT 19483",home decor,14.121365,258.306546,2023,8,5,Saturday
2,579675,A,8,31.528816,2024-03-11 18:51:00,Cash,"910 Mendez Ville Suite 909\nPort Lauraland, MO...",books,15.943701,212.015651,2024,3,11,Monday
3,799826,D,5,98.880218,2023-10-27 22:00:00,PayPal,"87522 Sharon Corners Suite 500\nLake Tammy, MO...",books,6.686337,461.343769,2023,10,27,Friday
4,121413,A,7,93.188512,2023-12-22 11:38:00,Cash,"0070 Michelle Island Suite 143\nHoland, VA 80142",electronics,4.030096,626.030484,2023,12,22,Friday

In [17]:
cleaned_df[(cleaned_df['productcategory'] == 'home decor') & (cleaned_df['year'] == 2023)]['totalamount'].sum()

np.float64(4134931.768848901)

In [19]:
cleaned_df[(cleaned_df['productcategory'] == 'books') & (cleaned_df['year'] == 2024)]['price'].sum()

np.float64(450600.64879052003)